language: go

go:
  - 1.8.x
  - 1.9.x
  - 1.10.x
  - 1.11.x
  - 1.12.x

before_install:
  - go get github.com/mattn/goveralls

sudo: false

env:
- GO111MODULE="on"

script:
- go test -v -race -parallel 4 -coverprofile=coverage.txt -covermode=atomic github.com/GannettDigital/graphql

after_success:
- goveralls -coverprofile=coverage.txt -service=travis-ci


