language: go

go:
  - 1.7
  - tip

before_install:
  - go get github.com/axw/gocov/gocov
  - go get github.com/mattn/goveralls
  - go get golang.org/x/tools/cmd/cover
  - go get github.com/kisielk/errcheck

script:
  - $HOME/gopath/bin/goveralls -service=travis-ci
  - go vet ./...
  - $HOME/gopath/bin/errcheck -blank ./...
